html {
	background-color: #282828;
	height: auto;
}

body {
	text-align: left;
	color: #ebdbb2;
	margin-left: 1em;
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p, a {
	color: #83a598;
}

a:link {
	text-decoration: inherit;
}

a:hover, h1:hover {
	cursor: pointer;
	color: #ebdbb2;
}

div.container {
	text-align: center;
}

div.business-card {
	display: inline-block;
	font-size: 1.2em;
}

div.business-card:hover {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
		max-width: 960px;
		margin-top: 3em;
		margin: auto;
}

.content h4 {
		margin-top: 2em;
}

ul {
	list-style: none;
	overflow: auto;
	padding-left: 0;
	display: inline-block;
}

li {
	float: left;
	margin-right: 0;
	padding: 0 2em;
	border-right: 1px solid #ebdbb2;
}

li:last-child {
	border-right: none;
}

p#toggle-link {
	visibility: hidden;
}

